/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.left-side-content-container {
  margin: 5vh auto;
  padding: 2vh 2vw;
}

.main-content-container {
  max-width: 600px;
  margin: 5vh auto;
  padding: 2vh 2vw;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-side-content-container {
  margin: 5vh auto;
  padding: 2vh 2vw;
  background-color: #c5bcc9;
}

h1 {
  color: #333;
}

p {
  color: #666;
  line-height: 1.6;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v7/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2)
    format('woff2');
}
